typings
npm-debug.log
dist/*/
dist/*.js
dist/*.js.map
dist/*.ts
dist/*.css
dist/*.metadata.json
dist/LICENSE
dist/README.md
demo/**/*.js*
demo/node-modules/
demo-dashboard/**/*.js*
demo-dashboard/node-modules/
node_modules/
bower_components/
coverage/
test/*.js
test/*.js.map
test/*.d.ts
.idea/
temp/
